.dropdown-menu li {
    position: relative;
    color: black;
    background-color: rgb(27, 57, 106);
}

.dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    color: black;
    background-color: rgb(27, 57, 106);
}

.dropdown-menu>li:hover>.submenu {
    display: block;
    color: black;
    background-color: rgb(27, 57, 106);
}

.dropdown-menu>li:hover {
    color: black;
    background-color: rgb(27, 57, 106);

}

.dropdown-menu .submenu-left {
    right: 100%;
    left: auto;
    color: black;
    background-color: rgb(27, 57, 106);
}

.dropdown-menu .submenu:hover {
    color: black;
    background-color: rgb(27, 57, 106);

}

.color_letra {
    color: white;
}

.color_letra:hover {
    color: black;
}

.navbar2 {
    display: flex;
    background-color: rgb(27, 57, 106);
}

@media only screen and (max-width: 768px) {
    .navbar2 {
        display: none;

    }
}


.menuResponsive {
    display: none;
    background-color: rgb(27, 57, 106);
    color: white;
}

@media only screen and (max-width: 768px) {
    .menuResponsive {
        display: flex;
        background-color: rgb(27, 57, 106);
        color: white;
        

    }
}

.logos {
    display: flex;
    justify-content: space-evenly
}

.docResponsivo {
    display: table-row;
    display: table-column;
}

@media only screen and (max-width: 768px) {
    .docResponsivo {
        display: flex;
        background-color: rgb(27, 57, 106);
        color: white;

    }
}